.lexmarkup {
    background-color: yellow;
    color: black;
}
body{
	background-color: #002819;
	margin: 0;
}
.body{
	width: 1000px;
	background-color: #007046;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: Arial, sans-serif;
	font-size: 18px;
	color: #A3F06C;
	min-height: 435px;
	padding-bottom: 1px;
}
.proj {
    padding: 10px;
    text-align: justify;
    background-color: rgba(255,255,255,0.2);
    margin: 10px;
}
body footer {
    background: #00AC6B;
    color: #dbdbdb;
    font-size: 11px;
    width: 1000px;
    line-height: 13px;
    margin: auto;
}
.footer {
    color: #dbdbdb;
    font-size: 11px;
    line-height: 13px;
    width: 1000px;
    margin: auto;
}
.footer a {
    font-size: 12px;
    margin: 7px;
    color: #dbdbdb;
    padding: 5px;
}
.footer span {
    width: 170px;
    float: right;
}
.footer span a {
    margin: 0;
}
.container {
	height: 90px;
	padding: 10px 0;
	width: 90%;
	margin: auto;
	font-family: Arial, sans-serif;
}
.clears {
float: right;
margin-top: -12px;
color: #3D9200!important;
padding: 5px 32px!important;
outline: none;
background-color: #A3F06C!important;
}
.clears:active {
color: #A3F06C!important;
background-color: #3D9200!important;
}
.row {
	margin-left: 0;
	margin-right: 0;
	width: 98%;
	float: left;
}
.col-md-10 {
	width: 38%;
}
.body:after {
    content: " ";
    display: block;
    clear: both;
}
body footer .container .footer-logo {
	float: right;
	margin-top: -30px;
	font-size: 10px;
	text-align: right;
}
body footer .container h3 {
	color: #fff;
	font-size: 14px;
	line-height: 21px;
	font-family: 'Roboto', sans-serif;
	margin: 0 0 10px;
	text-transform: uppercase;
}
body footer .container .sitemap a {
	display: block;
	font-size: 12px;
	margin-bottom: 5px;
}
body footer .container a {
	color: #dbdbdb;
}
h4{
	color: #67E300;
	margin: 10px 0 10px 0;
}
.header{
	background-color: #00AC6B;
	height: 160px;
}
.logo{
	padding: 20px;
}
.logo img{
	margin-top: 15px;
}
.topmenu{
	height: 30px;
	background-color: #A3F06C;
}
ul{
	margin: 0;
	padding-left: 0;
	float: left;
}
li{
	list-style-type: none;
	float: left;
	border-top: 1px dotted white;
	height: 20px;
	padding: 5px 15px 5px 15px;
	color: #67E300;
	width: 100%;
}
.headmenu {
    padding-left: 36px;
    font-size: 16px;
    border: 1px solid;
    cursor: pointer;
}
.headmenu:hover {
color: #67E300;
}

#tabs a{
    color: #3D9200;
    font-size: 18px;
    text-decoration: none;
    padding: 5px 5px 6px 5px;
    background: #A3F06C;
}
.active {
    background: #3D9200!important;
    color: #A3F06C;
}
#tabs a.active {
    color:#A3F06C;
}

#content_1 {
    background-color: #104D36;
    padding: 5px;
    margin-top: 5px;
}
#content_2 {
    margin-top: 5px;
    background-color: #104D36;
    padding: 5px;
}
.topmenu a{
	text-decoration: none;
	color: #3D9200;
	font-size: 18px;
	padding: 5px 15px;
	float: left;
	display: block;
	height: 20px;
}
.topmenu a:hover {
	background: #3D9200;
	color: #A3F06C;
	height: 20px;
}
.d1{
	height: 25px;
	width: 10%;
	float: left;
	background-color: #20815D;
	margin: 10px 0px 0px 1%;
}
.d2{
	height: 25px;
	width: 10%;
	float: left;
	background-color: #007046;
	margin: 10px 0px 0px 1%;
}
.d3{
	height: 25px;
	width: 10%;
	float: left;
	background-color: #35D699;
	margin: 10px 0px 0px 1%;
}
.d4{
	height: 25px;
	width: 10%;
	float: left;
	background-color: #60D6A9;
	margin: 10px 0px 0px 1%;
}
.d5{
	height: 25px;
	width: 55%;
	float: left;
	background-color: white;
	margin: 10px 0px 0px 1%;
}
.left {
	width: 240px;
	/*height: 749px;*/
	padding: 10px 0 10px 25px;
	float: left;
}
.inmenu {
    width: 533px;
}
.menu {
    font: 12px Verdana;
    color: #1c1c1c;
    background-color: #007046;
    }
.right {
	/*height: 715px;*/
	padding: 10px 0 10px 0;
	float: left;
	width: 734px;
}
table{
	width: 100%;
	color: #67E300;
    border-collapse: collapse;
}
td {
    padding: 5px;
    border-top: 1px dotted white;
}
#menu1 td {
    border-top: none;
    border-bottom: 1px dotted white;
}
.combobox {
	width: 100px;
}
.lexlvl {
	width: 140px;
	float: left;
	height: 70px;
	padding-left: 25px;
}
.constrlvl {
	width: 580px;
	float: left;
	height: 70px;
}
.param {
	width: 655px;
	height: 20px;
	background-color: #A3F06C;
	padding: 15px 25px 15px 5px;
	color: #3D9200;
}
form {
    float: right;
    padding-top: 6px;
    margin: 0;
}
.button {
    color: #3D9200;
    text-decoration: none;
    user-select: none;
    padding: 5px 32px;
    outline: none;
    background-color: #A3F06C;
}
.button:focus:not(:active) {
    background-color: #3D9200;
    pointer-events: none;
    color: #A3F06C;
}
input {
    box-shadow: none;
    border: 0;
    height: 30px;
    font-size: 18px;
    width: 123px;
}
button{
	width: 113px;
    height: 30px;
    margin: 0px 5px 5px 0px;
    border: none;
    outline:none;
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: #A3F06C;
    color: #3D9200;
}
button:hover {
    color: #A3F06C;
    background-color: #3D9200;
}
.textareas {
	padding: 0 25px 0 25px;
}
.text1 {
    border-radius: 0;
	color: #1D8EA6;
	font: 12px Arial, sans-serif;
	width: 684px;
	height: 15em;
	margin-bottom: 20px;
	outline: none;
	font-size: 16px;
	resize: none;
}
#content_1 .text2 {
    border-radius: 0;
    color: #1D8EA6;
    font: 12px Arial, sans-serif;
    width: 674px;
    height: 15em;
    outline: none;
    font-size: 16px;
    margin-top: 35px;
    background-color: white;
    overflow-y: scroll;
}
#content_2 .text2 {
    border-radius: 0;
    color: #1D8EA6;
    font: 12px Arial, sans-serif;
    width: 674px;
    height: 15em;
    outline: none;
    font-size: 16px;
    background-color: white;
    overflow-y: scroll;
}
.progress {
	overflow: hidden;
	height: 30px;
	margin-bottom: 15px;
	background-color: #f5f5f5;
	border-radius: 0;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	width: 215px;
}
.progress-bar {
	float: left;
	height: 100%;
	font-size: 18px;
	line-height: 31px;
	color:  green;
	text-align: center;
	background-color: #3F92D2;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	transition: width .6s ease;
}