

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
	<meta charset="utf-8">
	<title>Лексикатор</title>
	<link rel="shortcut icon" href="/static/images/shortcut.png" type="image/x-icon">
	<link rel="STYLESHEET" type="text/css" href="/static/css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic,greek-ext,cyrillic-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
	<script type="text/javascript" src="/static/js/scripts.js"></script>
	<script type="text/javascript">
	</script>

	<script type="text/javascript">
    imageDir = "http://mvcreative.ru/example/6/2/snow/";
    sflakesMax = 65;
    sflakesMaxActive = 65;
    svMaxX = 2;
    svMaxY = 6;
    ssnowStick = 1;
    ssnowCollect = 0;
    sfollowMouse = 1;
    sflakeBottom = 0;
    susePNG = 1;
    sflakeTypes = 5;
    sflakeWidth = 15;
    sflakeHeight = 15;
    </script>
    <script type="text/javascript" src="http://mvcreative.ru/example/6/2/snow.js"></script>

</head>

<body>
	<div class="body">
		<div class="header">
			<div class="d1">
			</div>
			<div class="d2">
			</div>
			<div class="d3">
			</div>
			<div class="d4">
			</div>
			<div class="d5">
			</div>
			<div class="logo">
				<img src="/static/images/logo.png" width="155" height="60" alt="" style="margin-top: 15px;">
			</div>
			<div class="topmenu">
			    <div class="inmenu">
					<a href="/">Обработка текста</a>
					<a href="/usage">Использование</a>
					<a href="/about_project">О проекте</a>
				</div>
			</div>
		</div>

		<div class="left">
			<div>
				Индекс Дейла-Холла <span title="Индекс Дейла-Холла был разработан для определения сложности текста по лексической и структурной составляющей и вычисляется как линейная функция от средней длины предложения в тексте и процента редких слов (слов, не входящих в лексический минимум заданного уровня).">[?]</span>
			</div>
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 83%;">
					83%
				</div>
			</div>
			<div>
				Индекс Флеша-Кинкейда <span title="Индекс Флэша-Кинсайда представляет сложность текста как линейную функцию среднего числа слогов в слове и средней длины предложения в тексте.">[?]</span>
			</div>
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 79%;">
					79%
				</div>
			</div>
			<div>
				Индекс Лексикатора <span title="Индекс Лексикатора определяет соотношение слов, не входящих в лексический минимум, к общему количеству слов.">[?]</span>
			</div>
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
					85%
				</div>
			</div>
		</div>
	<div class="right">
		<div class="textareas">
			Исходный текст
            <form action="." method="post" id="mainForm">
                <textarea class="text1" rows="5" name="input_text">{{input}}</textarea>
            <div id="tabs" class="htabs">
                <a href="javascript:clearAll()" class="clears" value="Очистить">Очистить</a>
                <a href="javascript:tabSwitch(1);" id="tab_1" class="active">Лексический уровень</a>
                <a href="javascript:tabSwitch(2);" id="tab_2">Структурный уровень</a>
            </div>

            <div id="content_1" class="tab-content">
                <div style=" float: left; height: 30px;">
                    <input type="submit" name="button" onclick="pressedButton(A1)" value="A1" class="button">
                    <input type="submit" name="button" onclick="pressedButton(A2)" value="A2" class="button">
                    <input type="submit" name="button" onclick="pressedButton(B1)" value="B1" class="button">
			    </div>
			   <div class="text2">{{lexText|safe}}</div>

			</div>
			<div id="content_2" class="tab-content">
			    <div class="text2">{{structText|safe}}</div>
			</div>
			<div class="param">Параметры</div>
			</form>

			    	<div>
			    		<table>
			    			<tbody>
			    				<tr>
			    					<td>№</td>
			    					<td>Название</td>
			    					<td>Значение</td>
			    				</tr>
			    				<tr>
			    					<td>1</td>
			    					<td>Среднее количество слов в одном предложении</td>
			    					<td class="stats">{{avWordsInSent}}</td>
			    				</tr>
			    				<tr>
			    					<td>2</td>
			    					<td>Процент слов, не входящих в словарь лексического минимума</td>
			    					<td class="stats">{{notInLexMin}}</td>
			    				</tr>
			    				<tr>
			    					<td>3</td>
			    					<td>Средняя длина слова в буквах</td>
			    					<td class="stats">{{awWordLenInChars}}</td>
			    				</tr>
			    				<tr>
				    				<td>4</td>
				    				<td>Средняя длина слова в слогах</td>
				    				<td class="stats">{{awWordLenInSylls}}</td>
			    				</tr>
				    		</tbody>
				    	</table>
				    	<div class="headmenu" onclick="if (document.all['menu1'].style.display=='') document.all['menu1'].style.display='none'; else document.all['menu1'].style.display='';">Расширенный список параметров</div>
				    	<div class="menu" id="menu1" style="display: none;">

				    	<table>
			    			<tbody>
			    				<tr>
			    					<td style="width: 21px;">5</td>
			    					<td>Длина текста в буквах</td>
			    					<td class="stats">{{textLenInChars}}</td>
			    				</tr>
			    				<tr>
				    				<td>6</td>
				    				<td>Длина текста в словах</td>
				    				<td class="stats">{{textLenInWords}}</td>
			    				</tr>
			    				<tr>
				    				<td>7</td>
				    				<td>Средняя длина предложения в слогах</td>
				    				<td class="stats">{{avSentLenInSylls}}</td>
			    				</tr>
			    				<tr>
				    				<td>8</td>
				    				<td>Процент слов в 3 слога и более</td>
				    				<td class="stats">{{percOfWordsMore3Sylls}}</td>
			    				</tr>
			    				<tr>
				    				<td>9</td>
				    				<td>Процент слов в 4 слога и более</td>
				    				<td class="stats">{{percOfWordsMore4Sylls}}</td>
			    				</tr>
			    				<tr>
				    				<td>10</td>
				    				<td>Процент слов в 5 слогов и более</td>
				    				<td class="stats">{{percOfWordsMore5Sylls}}</td>
			    				</tr>
			    				<tr>
				    				<td>11</td>
				    				<td>Процент слов в 6 слогов и более</td>
				    				<td class="stats">{{percOfWordsMore6Sylls}}</td>
			    				</tr>
			    				<tr>
				    				<td>12</td>
				    				<td>Средняя длина предложения в буквах</td>
				    				<td class="stats">{{avSentLenInChars}}</td>
			    				</tr>
			    				<tr>
				    				<td>13</td>
				    				<td>Процент слов длинной в 5 букв и более</td>
				    				<td class="stats">{{percOfWordsMore5Chars}}</td>
			    				</tr>
			    				<tr>
				    				<td>14</td>
				    				<td>Процент слов длинной в 6 букв и более</td>
				    				<td class="stats">{{percOfWordsMore6Chars}}</td>
			    				</tr>
			    				<tr>
				    				<td>15</td>
				    				<td>Процент слов длинной в 7 букв и больше</td>
				    				<td class="stats">{{percOfWordsMore7Chars}}</td>
			    				</tr>
			    				<tr>
				    				<td>16</td>
				    				<td>Процент слов длинной в 8 букв и более</td>
				    				<td class="stats">{{percOfWordsMore8Chars}}</td>
			    				</tr>
			    				<tr>
				    				<td>17</td>
				    				<td>Процент слов длинной в 9 букв и более</td>
				    				<td class="stats">{{percOfWordsMore9Chars}}</td>
			    				</tr>
			    				<tr>
				    				<td>18</td>
				    				<td>Процент слов длинной в 10 букв и более</td>
				    				<td class="stats">{{percOfWordsMore10Chars}}</td>
			    				</tr>
			    				<tr>
				    				<td>19</td>
				    				<td>Процент слов длинной в 11 букв и более</td>
				    				<td class="stats">{{percOfWordsMore11Chars}}</td>
			    				</tr>
			    				<tr>
				    				<td>20</td>
				    				<td>Процент слов длинной в 12 букв и более</td>
				    				<td class="stats">{{percOfWordsMore12Chars}}</td>
			    				</tr>
			    				<tr>
				    				<td>21</td>
				    				<td>Процент слов длинной в 13 букв и более</td>
				    				<td class="stats">{{percOfWordsMore13Chars}}</td>
			    				</tr>
				    		</tbody>
				    	</table>

				    	</div>
				</div>
		</div>


	</div>
	</div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-10 sitemap">
					<h3>КАРТА САЙТА</h3>
					<div class="row">
						<div class="col-md-12">
							<a href="/">Обработка текста</a>
							<a href="/about_project">О проекте</a>
							<a href="/usage">Использование</a>
						</div>
					</div>
				</div>
				<div class="col-md-8 footer-logo">
					<a href="/"><img src="/static/images/logo.png" alt="Whitesquare logo"></a>
					<p>
						&copy 2014 Corplings
						<a href="http://philology.hse.ru/ruverb/">HSE</a> creation
					</p>
				</div>
			</div>
		</div>
	</footer>
	<!--div class="footer">
	    <a href="/">Обработка текста</a>
		<a href="/">О проекте</a>
		<a href="/">Контакты</a>
  		<span>© 2014 Corplings<a href="http://philology.hse.ru/ruverb/">HSE</a> creation</span>
	</div-->

</body>
</html>
